/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/

### Composer ###
/composer.phar
/vendor/

### Vagrant ###
.vagrant/

### Nonces security ###
/app/Resources/security/*
!/app/Resources/security/.gitkeep
/app/Resources/security/nonces/*
!/app/Resources/security/nonces/.gitkeep